body{
    text-align: left;
}

.bttn{
    float: right;
    margin-right: 5px;
    background-color: black;
}

#synopsis,img{
    float:left;
    text-justify: inter-word;
    text-align: left;
}
.searchResult{
    margin-top: 52px;

}